@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply rounded-md border border-transparent drop-shadow-sm shadow-sm bg-indigo-600 py-2 px-5 text-center font-medium text-white tracking-wide shadow-sm hover:bg-indigo-700 focus:bg-indigo-800 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition duration-300 ease-out
    }
    .btn-secondary {
        @apply rounded-md border border-gray-200 drop-shadow-sm shadow-sm bg-white py-2 px-5 text-center font-medium text-gray-700 tracking-wide hover:bg-gray-100 hover:text-blue-600 focus:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 transition duration-300 ease-out
    }

    .smooth-transition {
        @apply transition duration-300 ease-out
    }

    .input-primary {
        @apply rounded-lg py-2 px-3 border border-gray-300 text-gray-900 placeholder-gray-500 shadow-sm hover:ring-1 hover:ring-indigo-500/[.55] focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 hover:ring-1 hover:ring-indigo-500/[.55] smooth-transition
    }

    .display-img {
        @apply rounded-lg drop-shadow-md
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 30vh;
        background: #4f536e2b;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #b9bacd9b;
        border-radius: 100vh;
        border: 3px solid #f6f7edc3;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #27222c3e;
    }
}

.react-datepicker-popper {
    z-index: 9999 !important;
}